SECRET_KEY=2FKpkBKr$GmZIC7$l(SJzw3B9&jvH)teE4F36&Y&TdCpaEQQf5
DEBUG=False
ALLOWED_HOSTS=legaldoc.site,www.legaldoc.site
DATABASE_URL=sqlite:///db.sqlite3
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
MAIL_USER=support@cjbwebdevelopment.com
MAIL_PASSWORD=
MAIL_FROM=noreply@legaldoc.site
